.FaqMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  h3 {
    font-size: xx-large;
    padding: 5rem 0;
  }
}

.accordian {
  width: 60vw;
}
