.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // padding: 2rem;
  min-height: 100vh;

  p {
    font-family: 'Diogenes', sans-serif;
  }
}

.topText {
  font-size: 54px;
  font-weight: normal;
  width: 90%;
  margin-top: -100px;
  margin-left: 70px;
  letter-spacing: 0.08em;
  line-height: 1.2;
  min-height: 0vw;
  align-self: start;
  justify-self: start;
  margin-left: 8%;
  margin-top: 5%;
  position: relative;
}

.teamSection {
  display: flex;
  height: 80vh;
  width: 100%;
}

.teamBtnContainer {
  width: 50%;
  margin-top: 50px;
}

.tapeBtn {
  border: none;
  background: transparent;
  position: relative;
  cursor: pointer;
  object-fit: contain;
  object-position: center center;
  width: 100%;

  p {
    font-size: 40px;
    text-decoration: none;
    position: absolute;
    color: black;
    top: 30%;
    left: 18%;
    transform: translate(-50%, -50%);
    transform: rotate(-5deg);
    font-weight: bold;
  }
}

.ourTeamBtn {
  transform: rotate(-5deg);
  object-fit: contain;
  object-position: center center;
  width: 100%;
}

.teamLeft,
.teamRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.ottoWrapper {
  flex: 0.5;
  width: 25%;
}

.clientsHeader {
  text-align: center;
  font-size: 58px;
  padding-bottom: 50px;
}

.imageGrid {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
    transform: translate(-50%, -50%);
  }
}

.threeStarsWrapper {
  margin-top: 500px;
}

.socialLinks {
  text-align: center;
}

.infoTxt {
  text-align: center;
  font-size: 65px;
  padding: 80px 0;
}

.sectionOne,
.sectionTwo,
.sectionThree {
  height: 80vh;
  width: 100vw;
}

.pricing,
.preProd,
.delivery {
  width: 30vw;
  margin-left: 10vw;

  h3 {
    font-weight: bold;
    font-size: 48px;
  }

  p {
    font-size: 34px;
  }
}

.printReady,
.prod,
.happyClients {
  width: 30vw;
  float: right;
  margin-right: 10vw;

  h3 {
    font-weight: bold;
    font-size: 48px;
  }

  p {
    font-size: 34px;
  }
}

.checkout {
  display: block;
  font-weight: bolder;
  font-size: 48px;
  width: 50%;
  margin: auto;
  margin-top: 150px;
}

.socials {
  display: block;
  font-weight: normal;
  font-size: 48px;
  width: 50%;
  margin: auto;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}

.socials a:first-child {
  margin-right: 30px;
}
