.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #d8d0bb;
  border: 3px solid black;
  z-index: 9999;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: 50px;
  margin-top: 12px;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.navLeft,
.navRight {
  display: flex;
}

.navRight {
  position: relative;
  display: flex;
  align-items: center;
  height: 175px;
  margin-right: 18px;
  margin-top: -5px;
}

.separator {
  top: 50%;
  transform: translateY(-50%);
  padding: 0 4px;
}

.link {
  list-style-type: none;

  a {
    text-decoration: none;
    padding: 8px 16px;
    color: #000000;

    &:hover .Print {
      transform: rotate(-8deg) scale(1.05);
    }

    &:hover .FAQ,
    &:hover .Contact {
      transform: rotate(-10deg) scale(1.05);
    }
  }

  .Print {
    transform: rotate(-8deg);
    transition: transform 0.3s ease;
  }

  .FAQ,
  .Contact {
    transform: rotate(-10deg);
    transition: transform 0.3s ease;
  }
}
