@font-face {
  font-family: 'Cooper Black MN';
  src: url('/fonts/cooperBlackMN.ttf') format('truetype');
}

@font-face {
  font-family: 'Diogenes';
  src: url('/fonts/diogenes.ttf') format('truetype');
}
